.calculator {
  text-align: center;
}

.screen {
  height: 2.5rem;
  text-align: right;
  font-size: 20px;
  width: 9.4rem;
  margin-top: 2rem;
  border: 1.5px solid darkgray;
  padding-right: 5px;
  outline: none;
}

.number {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 25px;
  vertical-align: top;
  background-color: beige;
  outline: none;
}

.operator {
  outline: none;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 25px;
  vertical-align: top;
  background-color: black;
  color: #fa8072;
  font-weight: 700
}

.clear-button {
  outline: none;
  height: 2.5rem;
  width: 5rem;
  background-color: beige;
}
